
{
  "passPerPreset": true,
  "plugins": [
    "transform-async-to-generator","syntax-async-functions"
  ],
  "presets": [
    {
      "plugins": [
        "./build/babelRelayPlugin"
      ]
    },
    "react",
    "es2015",
    "stage-0"
  ]
}
